body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 24px;
  color: #3C9682;
  font-family: 'Sacramento', cursive;
  font-size: 840%;
}

h2 {
  color: #3E9C87;
  font-family: 'Montserrat', sans-serif;
  font-size: 340%;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
}

.topContainer {
  background-color: #CAF7E3;
  position: relative;
  padding-top: 100px;
  z-index: -2;
}

.midContainer {
  text-align: center;
}

.botContainer {
  text-align: center;
  margin-top: 30px;
  background-color: #3E9C87;
  height: 175px;
}

.mount {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.topside-cloud {
  position: absolute;
  left: 100px;
  top: 100px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bot-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

@keyframes balloon-animation {
  from {
    /* pushes the sun down past the viewport */
    transform: translateY(2vh);
  }

  to {
    /* returns the sun to its default position */
    transform: translateY(-20vh);
  }
}

.balloon {
  position: absolute;
  right: 15.625rem;
  top: 21.875rem;
  animation: 6s linear 0s infinite alternate balloon-animation;
  z-index: -1;
}

.copyright {
  color: #000000;
  font-size: 15px;
  position: relative;
  top: 30px;
}

.call {
  width: 45px;
  height: 43px;
  position: relative;
  top: 10px;
}

.contact {
  width: 53px;
  height: 53px;
  position: relative;
  top: 17px;
}

.calling {
  position: relative;
  left: 10px;
}

.mailing {
  position: relative;
  right: 10px;
}

.linkedin-img {
  width: 40px;
  height: 40px;
  position: relative;
  top: 30px;
}

.twitter-img {
  width: 40px;
  height: 40px;
  position: relative;
  top: 35px;
}

.instagram-img {
  width: 40px;
  height: 38px;
  position: relative;
  top: 32px;
}

.mydesc {
  color: #40514E;
  font-size: 120%;
  line-height: 2;
  margin: auto auto 100px auto;
  width: 100%;
}

.name {
  text-align: center;
}

.intro {
  text-align: center;
  font-size: 2rem;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #CDF0EA;
  border-width: 6px;
  width: 30%;
}

.linkedin-link {
  position: relative;
  right: 25px;
}

.instagram-link {
  position: relative;
  left: 25px;
}

.footer-message {
  width: 100%;
  color: #000000;
}

.skill-image1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-image2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  font-size: 110%;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.profile {
  display: block;
  width: 30%;
  margin: auto;
}

.profile-pic {
  margin: 70px auto;
  width: 250px;
  height: 250px;
}
